h1{
  color: pink;
}

body{
  background: rgb(255, 222, 228);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

form{

  label{
    font-size: 25px;
  }

  input{
    border-color:rgb(255, 255, 255);    
    border-style:solid;
    border-width: 5px;
    width: 100%;
    font-size: 20px; 
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgb(245, 241, 237);
}
  input:hover{
    background-color: rgb(218, 205, 193);
  }
}


main{
  background: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 40px;
  width: 300px;
  list-style: none;
}

ul{
list-style: none;
font-size: 20px;
justify-content: space-between;

  li{
    padding-bottom: 10px;
    
    
  }
  
  input {
  border: solid;
  border-color:rgb(218, 205, 193);
  width: 30px;
  padding: 5px;
  
}

  
  

}

