h1{
  color: pink;
}

body{
  background: rgb(255, 222, 228);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center
}

form{


  label{
    font-size: 25px;
  }

  input{
    border-color: rgb(255, 255, 255);
    border-style:solid;
    border-width: 5px;
    width: 100%;
    font-size: 20px; 
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgb(245, 241, 237);



}


}

button{
  background-color: pink;
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: 100%;
}

main{
  background: rgb(255, 255, 255);
  padding: 3rem;
  border-radius: 40px;
  width: 300px;
  list-style: none;
}

ul{
list-style: none;
font-size: 20px;

  li{
    padding-bottom: 10px;
  }

  
}